.legendSquare{
    height:10px;
    width: 10px;
    display: inline-block;
}

tr{
    cursor: pointer;
}

td:first-child{
    text-align: center;
}

table{
    width: 230px;
}

.legendCont{
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    height: fit-content;
}

.legendCont .footer{
    border-top: 2px #fff solid;
    word-wrap: normal;
}

