.Plannercont{
    display: flex;
    justify-content: flex-start;
    height:calc(700px * 1.04167 + 40px)
}


.timeLabel{
    background-color: var(--primary);
    color: var(--light);
    height:32px;
    width: 100%;
    padding:8px;
    font-size: 80%;
    box-sizing: border-box;
    margin-bottom: 16px;
    text-align: center;
}

.dayLabel{
    width:200px;
}



.timeDisplay ul{
    list-style-type:none;
    padding:0%;
    height: 700px;
    margin:0px;
}

.timeDisplay ul li{
    height:calc(100%/24);
    align-content: center;
    padding: 5px;
}


.daySchedule{
    width:200px;
    list-style-type:none;
    padding:0%;
    height: 700px;
    margin:0%;
    position: relative;
    align-content: center;
    top:calc(100% / 48);
    background: linear-gradient(
        to bottom,
        var(--primary),
        var(--primary) 3px,
        #fff 0,
        #fff
    );
    background-size: 100% calc(100% / 24);
    
}

.activityBlock{
    background-color: var(--secondary);
    color: var(--light);
    border-radius: 10px;
    padding: 1% 10%;
    width:90%;
    left:5%;
    position: absolute;
    font-size: 80%;
    box-shadow: rgb(50,50,50) 5px 5px;
}
.activityBlock:nth-child(odd){
    background-color: var(--primary);
}

.arrow{
    font-size: 150%;
}