// Override default variables before the import


$primary: #b8ffd6;
$secondary:#ff9100;
$light: rgb(140, 209, 255);
$text-light-color:rgb(250,0,0);

.navbar-brand{
    border: solid 5px;
    padding-right: 20px;
    padding-left: 5px;
}

@import '~bootstrap/scss/bootstrap.scss';